.grid {
  display: flex;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc(100% / 4 - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
}

.grid--filter-section {
  gap: 8px;
  justify-content: center;
}

.activities-icons {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  &__image {
    fill: currentColor;
  }
}

.activities-description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    width: 270px;
  }
}
