body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  background-color: $main-backgroundcolor;
}

ul,
h1,
h2,
h3,
input,
p {
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.undecorated-list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
}
